.inputContainer {
  .placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: #999999;
  }
  .inputField {
    border: none;
    border-bottom: 1px solid #3369f3;
    width: 280px;
    background: none;
    color: #1e1e1e;
    outline: none;
  }
  .errorText {
    display: none;
    font-size: 6px;
    line-height: 6px;
    color: red;
  }
  .errorText_visible {
    display: block;
  }
}
