.changeProfileField_container {
  display: flex;
  justify-content: space-between;
  height: 34px;
  width: 510px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;

  .fieldName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: #1e1e1e;
  }
  .rightContainer {
    position: relative;
    .fieldInput {
      position: absolute;
      right: 0;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      border: none;
      background: none;
      outline: none;
      text-align: end;
      color: #1e1e1e;

      ::placeholder {
        color: #999999;
      }
    }
    .errorText {
      position: absolute;
      right: 0;
      bottom: 0;
      width: max-content;
      font-size: 6px;
      line-height: 6px;
      color: red;
      text-align: end;
    }
  }
}
